{%extends 'base.html' %}

{% block title %}
    <title>Delete course</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Do you want to delete? {{course.course_name}}</p>
        <input class="btn btn-danger" type="submit" value="Agree">
        <a class="btn btn-primary" href="{% url 'courses:list'%}"> Cancel </a>
    </form>
{% endblock %}s