{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Course list{% endblock %}

{% block header %}
    List of Courses
{% endblock %}

{% block content %}
    <div class="collapse" id="collapseExample">
    <form method="get">
        {{ object_list.form | crispy }}
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
    </div>
    {% with list_objects=object_list.qs  %}

    <a href="{% url 'courses:create' %}">Create course</a><br>


    <table class="table table-hover table-sm">
        <tr>
            <th></th>
            <th>Course name</th>
            <th>Creation date</th>
            <th>Subject</th>
            <th>Teachers</th>
            <th>Subject</th>
            <th>Subject</th>

            <th><i class="bi bi-pencil-fill"></i></th>
            <th>🚮</th>
        </tr>
        {% for course in list_objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.creation_date }}</td>
                <td>{{ course.subject }}</td>
                <td>{% if course.students %}{{ course.students }}{% endif %}</td>
                <td>{% if course.teachers %}{{ course.teachers }}{% endif %}</td>
                <td><a href="{% url 'courses:update' course.pk %}">EDIT</a></td>
                <td><a href="{% url 'courses:delete' course.pk %}">DELETE</a></td>
            </tr>
        {% endfor %}
    </table>

    {% endwith %}
{% endblock %}
