{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title%}
    <title>Teachers list</title>
{%endblock%}

{%block page_name%}
    <h1>Teachers List</h1>
{%endblock%}

{%block content%}

<form method="get">

    {{ obj_filter.form | crispy }}

    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
</form>


<a href="{% url 'teachers:create' %}">Create teacher</a><br>


    <table class="table table-success table-striped">
        <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Specialization</td>
        <td>Group</td>
        <td>Edit</td>
        <td>Delete</td>
        </tr>
    
        {% for teacher in object_list %}
            <tr>
                <th>{{teacher.first_name}}</th>
                <th>{{teacher.last_name}}</th>
                <th>{{teacher.specialization}}</th>
                <th> {%for group in groups.teacher.all%}
                    
                    {{group.group_name}} </br> 
                     
                    {%endfor%} </th>
                <th> <a href="{% url 'teachers:update' teacher.pk %}"> EDIT</a> </th>
                <th> <a href="{% url 'teachers:delete' teacher.pk %}"> DELETE</a> </th>
            </tr>
        {% endfor %}
        </table>

        {%include 'includes/paginator.html' %} 


{%endblock%}
