{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title%}
    <title>Update teacher</title>
{%endblock%}

{%block page_name%}
    <h1>Update teacher</h1>
{%endblock%}


{%block content%}

    <form method="post">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" value="Update">
    </form>

    <a href="{% url 'teachers:list' %}">Back to Teachers list</a><br>

{%endblock%}