{% extends 'base.html' %}

{% block title %}
    Sign Out
{% endblock %}

{% block header %}
    User logout.
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <a class="btn btn-success mt-3" href="{% url 'accounts:login' %}">Sign In</a>
    </form>
{% endblock %}