{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}

{% block header %}
    Change password
{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Password reset.......</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>
{% endblock %}