{% extends 'base.html' %}

 {% load crispy_forms_tags %}

 {% block title %}
     Profile update
 {% endblock %}

 {% block header %}
     Profile update.
 {% endblock %}

 {% block content %}
    <form method="post" enctype="multipart/form-data">
             {% csrf_token %}
         <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200" src="{{ user.profile.avatar.url }}">
            </div>
         {{ user_form | crispy }}
         {{ profile_form | crispy }}


         <input class="btn btn-success mt-3" type="submit" value="Save">
         <a class="btn btn-success mt-3" href="{% url 'index' %}">Cancel</a>
     </form>
 {% endblock %}
