{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title%}
<title>Groups list</title>
{%endblock%}

{%block page_name%}
    <h1>Group List</h1>
{%endblock%}


{%block content%}
    
    <form method="get">

        {{ obj_filter.form | crispy }}
    
        <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
    
    <a href="{% url 'groups:create' %}">Create group</a><br>

    <table class="table table-hover">
        <tr>
        <td>Group Name</td>
        <td>Subject</td>
        <td>Creation date</td>
        <td>Group headman</td> 
        <td>Teachers in group</td>       
      
        <td>Edit</td>
        <td>Delete</td>
        </tr>
    
        {% for group in object_list %}
            <tr>
                <th>{{group.group_name}}</th>
                <th>{{group.subject}}</th>
                <th>{{group.creation_date}}</th>
                <th>{{group.headman}}</th>
                <th> {%for teacher in group.teachers.all%}
                    
                    {{teacher.last_name}} {{teacher.first_name}} </br> 
                    
        {%endfor%} </th>
        
            <th> <a href="{% url 'groups:update' group.id %}">EDIT</a> </th>
        
            <th> <a href="{% url 'groups:delete' group.pk %}">Delete</a> </th>
    
            </tr>
        {% endfor %}
        </table> 
    
        {%include 'includes/paginator.html' %} 


{%endblock%}
